
.jobsDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    margin-block: 2rem;

     /* bottom */
    border-bottom: 1px solid var(--border);
    padding-bottom: 2rem;

    & section {
        text-align: left;

        h3 {
            margin-bottom: 1rem;
        }

        p {
            text-wrap: balance;
        }
        ul {
            /* margin-left: 1rem; */
            
            & li{
                display: flex;
                gap: 0.5rem;
                align-items: center;
                color: var(--text-muted);

                svg{
                    color: var(--primary-light);
                }
            }
        }
    }

    & > .jobTitle {
        display: flex;
        justify-content: space-between;

    }
    small {
        font-size: 0.875rem;
        opacity: 0.75;
    } 

}

.bottomButton {
    display: flex;
    justify-content: end;
    margin-bottom: 2rem;
}

button{
    height: 3rem;
    width: 9rem;
}

