/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
 */

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Inter Variable';
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/inter:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}
  
:root {
    --primary: #3b4550;
    --primary-dark: #0a3d66;
    --primary-hover: #0d5ba8;
    --primary-light: #09f;
    --background: #06182a;
    --text-primary: #ffffff;
    --text-secondary: #cbd5e1;
    --text-muted: #94a3b8;
    --border: rgba(255, 255, 255, 0.1);
    --card-bg: #1e293b;
    --shadow: rgba(0, 0, 0, 0.3);
    --input-bg: #1e293b;
    --hsla-example: hsla(210, 100%, 56%, 1);
    --svg-bg: rgba(0, 153, 255, 0.3);
    --font-weight-700: 700;
    --font-weight-500: 500;
}
  
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--background);
    color: var(--text-primary);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    line-height: 1.6;
}

/* Titles */
h1 {
  font-size: 2.25rem;
  font-weight: 900;
  margin-bottom: 1rem;
  line-height: 1.2;
  text-wrap: balance;  
}

h1 + p{
    text-wrap: balance;
    margin-bottom: 2rem;
}

/* Header */
header {
    border-bottom: 1px solid var(--border);
    background: var(--background);
    padding: .5rem 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    h2{
        font-size: 1.25rem;
        font-weight: var(--font-weight-700);
        color: var(--text-primary);
        display: flex;
        text-wrap: balance;
        align-items: center;
        gap: 0.3rem;
    }
    h2>svg{
        width: 1.5rem;
        height: 1.5rem;
        color: var(--primary-light);
    }
}
nav{
    align-items: center;
    gap: 1rem;
    display: flex;
    a{
        text-decoration: none;
        color: var(--text-secondary);
        transition: color 0.2s;
        font-weight: var(--font-weight-500);

        &:hover{
            color: var(--primary-hover);
            outline: none;
        }
    }
}

header div{
    display: flex;
    gap: 0.5rem;
    
    a{
        padding: 0.5rem 1rem;
        background-color: var(--svg-bg);
        border-radius: 0.5rem;
        color: var(--text-primary);
        font-size: 0.875rem;
        font-weight: var(--font-weight-700);
        text-decoration: none;
    }
}

main{
    text-align: center;
    margin: auto;
    max-width: 80rem; /* 1280px */
    width: 100%;
}

/* Hero */
.hero{
    height: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        padding-top: 2rem;
    }
    img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        left: 0;
        right: 0;
        mask-image: linear-gradient(to bottom, rgba(16, 25, 34, 1) 5%, rgba(16, 25, 34, 0) 90%);
    }
}

#jobs-search-form{
    max-width: 42rem;
    padding: .5rem;
    display: flex;
    justify-self: center;

}
/* select {
  padding: 0.625rem 1.25rem;
  background-color: #242d3a;
  border: 0;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  color: #ddd;
  cursor: pointer;
  transition: all 0.2s;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  padding-right: 2.5rem;

} */

select,
button {
    padding: 0.65rem 1.3rem;
    border-radius: 0.5rem;
    background-color: var(--primary);
    color: var(--text-primary);
    font-weight: 400;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
    font-family: inherit;
    font-size: 1rem;
    white-space: nowrap;

    &:hover,
    &:focus {
        background-color: var(--primary-hover);
        outline: 2px solid var(--text-primary);
        outline-offset: 2px;
    }
    &:active{
        transform: scale(0.90);
    }
    &:disabled{
        opacity: 0.5;
        pointer-events: none;
    }
}


/* Features Section */
.features {
    padding-inline: 1rem;
    background-color: var(--background);
    padding-top: 2rem;
    text-align: center;

    & > div {
      max-width: 1280px;
      margin: 0 auto;
    }
  
    .features-top h2 {
        font-size: 1.875rem;
        font-weight: var(--font-weight-700);
        color: var(--text-primary);
    }

    .features-top p {
        font-size: 1.123rem;
        color: var(--text-muted);
        max-width: 42rem;
        margin: 1rem auto;
        margin-bottom: 1.5rem;
    }
    .features-bottom {
        gap: 1rem;
        flex-direction: column;
  
        h2 {
            margin-bottom: 0 auto;
        }
    
        p {
            opacity: .75;
        }
    }

}


/* Grid de features */
.features-bottom {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.2rem;
    
}
article{
    background-color: var(--card-bg);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0px 1px 3px 0 var(--shadow);

    svg {
        color: var(--primary-light);
        background-color: var(--svg-bg);
        width: 64px;
        height: 64px;
        border-radius: 100%;
        padding: 1rem;
    }

    h3{
        font-weight: var(--font-weight-500);
    }
    p{
        color: var(--text-muted);
    }

}


/* Footer */
footer {
  background-color: var(--background);
  border-top: 1px solid var(--border);
  text-align: center;
  padding: 16px;
  bottom: 0.5rem;

  small {
    color: var(--text-muted);
    font-size: 0.875rem;
  }
}

.jobs-result{
    background-color: none;
    /* border-radius: 0.5rem; */
    box-shadow: 0px 1px 3px 0 var(--shadow);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin: auto;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    h2{
        padding: 1rem;
        margin: 1rem;
    }
    
    .job-result-article {
        display: flex;
        align-items: start;
        gap: 1rem;

        & > div {
            text-align: justify;
            margin-right: 1rem;
        }

        small {
            font-size: 0.875rem;
            opacity: 0.75;
        } 
        p {
            margin-top: 0.5rem;
        }

        &.is-hidden{
            display: none;
        }

        & > .button-apply-job{
            background-color: var(--primary-light);
            
            &.is-applied{
                background-color: var(--primary-dark);
                color: var(--text-muted);
            }
        }
    }
}

.jobs-filter{
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}

